/* Same styles for page */

:root {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    color: #4F5665;
    margin: 0;
}

body.opend-mobile-menu {
    overflow: hidden;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

ul,
h1,
h2,
h3 {
    margin: 0;
}

h1,
h2,
h3 {
    color: #0B132A;
    font-weight: 500;
}

h1 {
    font-size: 2rem;
    line-height: 1.0937;
}

h2 {
    font-size: 1.5625rem;
}


/* 400px */

@media (min-width: 25em) {
    h1 {
        font-size: calc(2rem + (18 * (100vw - 400px) / 624));
    }
    h2 {
        font-size: calc(1.5625rem + (10 * (100vw - 400px) / 624));
    }
}


/* 1024px */

@media (min-width: 64em) {
    h1 {
        font-size: 3.125rem;
    }
    h2 {
        font-size: 2.1875rem;
        line-height: 1.4285;
    }
}


/* 1185px */

@media (min-width: 74.0625em) {
    h1 {
        line-height: 1.4;
    }
}

h3 {
    font-size: 1.125rem;
}

p {
    line-height: 1.5625;
}

@media (min-width: 64em) {
    p {
        line-height: 1.875;
    }
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    border: 0;
}

button {
    padding: 0;
    cursor: pointer;
}

main {
    display: block;
}

.o-content-container {
    padding: 0 4%;
}

.s-bold {
    font-weight: 700;
}

.img-button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.marker-img::before,
.marker-img::after {
    content: "";
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}


/* 1240px */

@media (min-width: 77.5em) {
    .o-content-container {
        padding: 0;
        max-width: 71.25em;
        margin: 0 auto;
    }
}

.mobile-block-img {
    display: block;
    margin: 0 auto;
}


/* Different styles for containers*/


/* For all blocks that placed in main flow of page */

main>*+* {
    padding-top: 1.5625em;
}

@media (min-width: 64em) {
    main>*+* {
        padding-top: 3.125em;
    }
}


/* Styles for header block */

.f-main-header {
    padding: 1.4375em 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* 1024px */

@media (min-width: 64em) {
    .f-main-header {
        padding: 2.875em 0;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }
}

.f-between-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.125rem;
    font-weight: 500;
}

.logo::before {
    background-image: url("../images/logo.png");
    margin-right: 0.25em;
    height: 2em;
    width: 2em;
}


/* 1024px */

@media (min-width: 64em) {
    .logo {
        font-size: 1.25rem;
    }
    .logo::before {
        margin-right: 0.5em;
    }
}


/* Styles for mobile toggle button */

.opening-m-btn {
    display: none;
}


/* 1023px */

@media (max-width: 63.9375em) {
    .opening-m-btn {
        display: inline-block;
        height: 2em;
        width: 2em;
        transition: transform 0.2s;
    }
    .opening-m-btn[data-is-toggled="false"] {
        background-image: url("../images/mobile-menu.png");
    }
    .opening-m-btn[data-is-toggled="true"] {
        transform: translateX(0);
        background-image: url("../images/mobile-menu-closed.png");
    }
}

nav.opend-mobile-menu,
nav.is-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 0 4%;
    z-index: 1000;
}

nav.opend-mobile-menu {
    bottom: 0;
    overflow: auto;
}

.main-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 30em 0;
}


/* 1024px */

@media(min-width: 64em) {
    .main-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 39.5614% 0 0;
    }
}

.main-menu[data-is-hidden="false"] {
    display: flex;
}

.main-menu li {
    font-size: 1.75rem;
    font-weight: 500;
    opacity: 0;
}


/* 1024px */

@media (min-width: 64em) {
    .main-menu li {
        font-size: 1rem;
        font-weight: 400;
        opacity: 1;
    }
}

.main-menu li[data-is-hidden="false"] {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.auth-container {
    display: none;
    margin-top: auto;
    text-align: center;
}

.auth-container[data-is-hidden="false"] {
    display: block;
}

.auth-container button {
    font-weight: 500;
    background-color: transparent;
    font-size: 1.25rem;
}

.auth-container button:first-of-type {
    color: #0B132A;
    padding: 0 1em;
}

.auth-container button:last-of-type {
    color: #F53855;
    border: solid #F53855 2.5px;
    padding: 0.5em 2em;
    border-radius: 1.5em;
}


/* 1024px */

@media (min-width: 64em) {
    .auth-container {
        display: block;
        margin-top: 0;
        text-align: initial;
    }
    .auth-container button {
        font-size: 1rem;
    }
    .auth-container button:last-of-type {
        padding: 0.8125em 2.8125em;
        border-width: 1px;
    }
}


/* Styles for hero block */

.f-hero-container {
    padding: 1.3437em 3%;
}


/* 650px */

@media (min-width: 59.375em) {
    .f-hero-container {
        display: flex;
        justify-content: space-between;
    }
    .f-hero-container img {
        display: inline-block;
        margin: 0;
        width: 1%;
        flex: 50.3333% 0 0;
    }
    .f-hero-container .hero-content {
        flex: 46.25% 0 0;
    }
}


/* 1280px */

@media (min-width: 80em) {
    .f-hero-container {
        padding: 2.6875em 0;
        margin: 0 auto;
        max-width: 75em;
    }
}

.f-hero-container *+* {
    padding-top: 2em;
}


/* 650px */

@media (min-width: 59.375em) {
    .f-hero-container *+* {
        padding-top: 0;
    }
}

.f-hero-container p {
    margin: 0;
    padding: 0.625em 0 1.5625em;
}


/* 1140px */

@media (min-width: 71.25em) {
    .f-hero-container p {
        padding: 1.25em 0 3.125em;
    }
}

.main-button {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #F53838;
    padding: 1.0937em 4.0625em;
    border-radius: 0.5em;
    width: 100%;
    box-shadow: 1px 15px 30px rgba(245, 56, 56, 0.7);
}


/* 1024px */

@media (min-width: 64em) {
    .main-button {
        width: auto;
    }
}


/* Styles for feauture block */

.f-features-container {
    padding: 1.1875em 0;
    border-radius: 1em;
}

.f-features-container>.feature-content+.feature-content {
    border-top: solid #EEEFF2 3px;
}

.feature-content {
    padding: 1.875em 0;
}


/* 950px */

@media (min-width: 59.375em) {
    .f-features-container {
        display: flex;
        justify-content: space-around;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3), 0 -1px 5px rgba(0, 0, 0, 0.3);
    }
    .feature-content {
        text-align: center;
        flex-grow: 1;
    }
    .f-features-container>.feature-content+.feature-content {
        border: none;
        border-left: solid #EEEFF2 3px;
    }
}


/* 1024px */

@media (min-width: 64em) {
    .f-features-container {
        padding: 2.375em 0;
    }
}

.feature-content img {
    margin-right: 0.5em;
}

.inline-container {
    text-align: initial;
    display: inline-block;
    vertical-align: middle;
}

.inline-container>span {
    color: #0B132A;
    font-size: 1.25rem;
}


/* 400px */

@media (min-width: 25em) {
    .inline-container>span {
        font-size: calc(1.25rem + (5 * (100vw - 400px) / 624));
    }
}


/* 1024px */

@media (min-width: 64em) {
    .inline-container>span {
        font-size: 1.5625rem;
    }
}

.inline-container>p {
    margin: 0;
    font-size: 1.125rem;
    padding-top: 0.25em;
}


/* 950px */

@media (min-width: 59.375em) {
    .inline-container>p {
        font-size: 1.25rem;
    }
}


/* Styles for addition block */

.f-addition-container {
    padding: 1.25em 0;
}

.f-addition-container>*+* {
    padding-top: 1.5em;
}


/* 950px */

@media (min-width: 59.375em) {
    .f-addition-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-end;
    }
    .f-addition-container img {
        margin: 0;
    }
    .addition-wrapper {
        flex: 37.8% 0 0;
    }
    .addition-wrapper p {
        margin: 0;
        padding: 1.25em 0;
    }
    .f-addition-container>*+* {
        padding-top: 0;
    }
}


/* 1024px */

@media (min-width: 64em) {
    .f-addition-container {
        padding: 2.5em 0;
    }
}

.features-list {
    font-size: 0.875rem;
}

.features-list>li+li {
    padding-top: 1.0714em;
}

.features-list .marker-img::before {
    background-image: url("../images/list-icon.png");
    height: 1.4285em;
    width: 1.4285em;
    margin-right: 0.75em;
}


/* Styles for plans block */

.plans-wrapper {
    padding: 3.6562em 0 1.5625em;
}


/* 1024px */

@media (min-width: 64em) {
    .plans-wrapper {
        padding: 7.3125em 0 3.125em;
    }
}

.f-plans-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.875em;
}

.f-plans-container>.plan-card+.plan-card {
    margin-top: 1.5em;
}


/* 950px */

@media (min-width: 59.375em) {
    .f-plans-container {
        flex-direction: row;
        align-items: initial;
        justify-content: space-around;
    }
    .f-plans-container>.plan-card+.plan-card {
        margin-top: 0;
    }
}

.plan-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em;
    border: solid #DDDDDD 2px;
    padding: 2.5em 2em 1.5625em;
    width: 100%;
    text-align: center;
    flex: 40em 0 0;
    transition: all 0.3s ease-in-out;
}


/* 950px */

@media (min-width: 59.375em) {
    .plan-card {
        flex-basis: 28.9473%;
        height: 47.5em;
    }
}

.plan-card:hover {
    border: solid #F53838 2px;
}


/* 375px */

@media (min-width: 23.4375em) {
    .plan-card:hover {
        transform: translate(50px, -10px);
        box-shadow: -50px 10px 0 rgb(0, 0, 0);
    }
}


/* 950px */

@media (min-width: 59.375em) {
    .plan-card:hover {
        transform: translate(25px, -10px);
        box-shadow: -25px 10px 0 rgb(0, 0, 0);
    }
}

.plan-card:hover .select-btn {
    background-color: #F53838;
    color: #FFFFFF;
}


/* 375px */

@media (min-width: 23.4375em) {
    .plan-card {
        width: auto;
    }
}

.plan-card h3 {
    padding: 0.9375em 0;
}


/* 950px */

@media (min-width: 59.375em) {
    .plan-card h3 {
        padding: 1.875em 0;
    }
}

.plan-list {
    display: inline-block;
    text-align: initial;
    font-size: 0.875rem;
}

.plan-list .marker-img::before {
    background-image: url("../images/plan-list-icon.png");
    font-size: 1rem;
    width: 0.875em;
    height: 0.625em;
    margin-right: 1.5em;
}

.plan-list>li+li {
    padding-top: 1.25em;
}

.plan-cost {
    font-size: 1.5625rem;
    display: block;
}

.plan-cost .s-bold {
    color: #0B132A;
}

.select-btn {
    margin-top: 1em;
    border-radius: 3.125em;
    background-color: transparent;
    border: solid #F53838 2px;
    color: #F53838;
    font-weight: 700;
    width: 100%;
    padding: 0.75em 0;
    box-shadow: 0 1.0625em 10px rgba(245, 56, 56, 0.2);
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}


/* 375px */

@media (min-width: 23.4375em) {
    .select-btn {
        width: auto;
        padding: 0.75em 4.0625em;
    }
}


/* Styles for network block */

.network-wrapper {
    padding-top: 1.5625em;
    /* des: 50px*/
}


/* 1024px */

@media (min-width: 64em) {
    .network-wrapper {
        padding-top: 3.125em;
    }
}

.network-wrapper .centred-h,
.network-wrapper h2 {
    margin: 0 auto;
}

.network-wrapper .centred-h {
    max-width: 34.6875em;
}

.network-wrapper h2 {
    max-width: 11em;
}

.network-wrapper p {
    margin: 0;
    padding: 1.25em 0;
}

.network-wrapper>img {
    padding: 4.2187em 0 1.25em;
    /*des: top 135px, bottom 40px*/
}


/* 1024px */

@media (min-width: 64em) {
    .network-wrapper>img {
        padding: 8.4375em 0 2.5em;
    }
}

.f-wrap-company-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.f-wrap-company-logos img {
    padding: 0.5em;
    max-width: 9.375em;
}


/* 830px */

@media (min-width: 51.875em) {
    .f-wrap-company-logos img {
        max-width: initial;
    }
}


/* Styles for trusted block */

.trusted-customers-wrapper {
    padding: 0 2% 0.625em;
}


/* 1355px */

@media (min-width: 84.6875em) {
    .trusted-customers-wrapper {
        margin: 0 auto;
        padding: 0 0 1.25em;
        max-width: 81.25em;
    }
}

.f-customers-container {
    padding-top: 1.375em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-customers-container>*+* {
    margin-top: 1.5em;
}

.comment-wrapper {
    padding: 0.9375em;
    border: solid #DDDDDD 2px;
    border-radius: 0.5em;
    color: #0B132A;
    max-width: 25em;
}


/* 950px */

@media (min-width: 59.375em) {
    .f-customers-container {
        padding-top: 3.75em;
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
    }
    .f-customers-container>*+* {
        margin-top: 0;
    }
    .comment-wrapper {
        flex-basis: 30.7692%;
    }
}

.avatar-wrapper img {
    margin-right: 0.5em;
}

.customer-info span {
    font-weight: 500;
    font-size: 1.125rem;
}


/* 950px */

@media (min-width: 59.375em) {
    .customer-info span {
        font-size: 1.25rem;
    }
}

.customer-info p {
    font-size: 0.875rem;
    color: #4F5665;
}

.star-img::after {
    background-image: url("../images/star-icon.png");
    width: 0.875em;
    height: 0.875em;
    margin-left: 0.5em;
    vertical-align: -7%;
}


/* Same styles for plans, network, trusted blocks */

.centred-h {
    text-align: center;
}


/* Styles for subscribe block */

.f-subscribe-container {
    padding: 1.8125em 2.1875em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}


/* 950px */

@media (min-width: 59.375em) {
    .f-subscribe-container {
        margin-top: -5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(50%);
        padding: 3.625em 4.377em;
    }
    .f-subscribe-container header {
        flex-basis: 35.9649%;
    }
    .f-subscribe-container .main-button {
        width: auto;
    }
}


/* Styles for footer container */

.footer-wrapper {
    margin-top: 1em;
    background-color: #F8F8F8;
}

.f-outer-container {
    padding: 1em 0 3.125em;
}


/* 950px */

@media (min-width: 59.375em) {
    .f-outer-container {
        display: flex;
        justify-content: space-between;
        padding: 11.5625em 0 6.25em;
    }
    .footer-header {
        flex-basis: 29.8245%;
    }
    .f-inner-container {
        display: flex;
        justify-content: space-between;
        flex-basis: 50%;
    }
}

.footer-header>*+* {
    padding-top: 0.5em;
}

.inline-list>li {
    display: inline-block;
    padding: 0 0.5em;
}

.inline-list>li:first-child {
    padding-left: 0;
}

.footer-header>span {
    display: inline-block;
}

.f-footer-container>*+* {
    padding-top: 1em;
}


/* 950px */

@media (min-width: 59.375em) {
    .f-footer-container>*+* {
        padding-top: 0;
    }
}

.footer-h {
    font-size: 1.125rem;
    font-weight: 500;
    color: #0B132A;
    display: block;
    width: 100%;
}


/* 949px */

@media (max-width: 59.3125em) {
    .footer-h::after {
        background-image: url("../images/right-arrow.png");
        width: 1em;
        height: 1em;
        float: right;
    }
    .footer-h.is-open::after {
        background-image: url("../images/down-arrow.png");
    }
    .footer-list.is-hidden {
        display: none;
    }
    .footer-list.is-open {
        display: block;
    }
}

.footer-list>li {
    padding: 0.5em 0;
}